<!-- Ownership rights - Vighnesh Raje -->

<contact>
<div>
    <div class="details">
        <h1>Contact Us</h1>
        <p> 
            <span class="address">314 Tower 2</span>
            <span class="address">Hath Naka</span>
            <span class="address">dwadw4</span>
            <span class="address">(+91) 97878144141</span>
        </p>
    </div>
</div>
</contact>

<style>
    contact {
        background: #fff;
        display: flex;
        flex-direction: row-reverse;
        border-radius: 10%;
        padding: 2% 10%;
        justify-content: space-between;

    }
    .details {
       display: flex;
       flex-direction: column; 
    }

    #h1 {
        text-align: center; 
        font-family: Verdana; 
        color: #000; font-size: 5px; 
        font-weight: bold;
        padding-bottom: 5px;
    }

    

    .address {
        display: block; 
        padding-bottom: 3px; 
        color: #000; 
        font-family: Arial; 
        font-size: 15px;
        
    }
</style>