<!-- Ownership rights - Vighnesh Raje -->

<header>
  <div class="element-one">
    <h1 class="org-name">C S Lamba And Associates</h1> 
  </div>
  <div class="element-two">
    <button class="gradient-button">
      <div class="module">
      <svg class="text-style" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0,0,256,256"
style="fill:#000000;">
<g fill="#f7a720" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M3,5c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h18c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587zM3,11c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h18c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587zM3,17c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h18c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587z"></path></g></g>
</svg>
</div>
    </button>
  </div>
</header>

<style>
  header {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 3px 0 #f0efef;
    border-bottom: #f0efef;
    align-items: center;
  }
  .org-name {
    white-space: nowrap;
    font-size: 140%;
    font-family: serif;
  }
  .element-one {
    padding-left: 5%;
  }

  .element-two {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 5%;
  }

  .gradient-button {
    background: linear-gradient(to right, #fca30bd0, #ffffff);
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .module {
    background: #000;
    padding: 0.5px;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 0;
  }

  .text-style {
    width: 60%;
    height: 60%;
  }
  
</style>