---
import Imagecard from './Imagecards.astro';
---

<story>
    <div class="short-story">
        <!-- <div>
            <p class="prefix">PREFIX FOR THE COMPANY'S ABOUT SECTION WILL BE HERE</p>
        </div> -->
        <div>
            <p class="title">Our Story And Commitment</p>
        </div>
        <div>
            <p class="intro">At C.S. Lamba and Associates, we are seasoned and accomplished advocates with extensive experience in navigating complex legal landscapes. With a strong passion for justice and a keen eye for detail, we provide expert legal counsel and representation to individuals, businesses, and organizations.

            </p>
        </div>
        <div class="content">
            <div class="hidden-text" id="toggleme">
                <p>We have developed a broad range of expertise, spanning multiple practice areas including family law, criminal defence, and more. Our key strengths include in-depth knowledge of legal frameworks and procedures, excellent analytical, research, and problem-solving skills, and effective communication and advocacy skills.</p>
                </p>
                <p>
                    With years of experience in legal practice, C.S. Lamba and Associates have established a proven track record of successful outcomes and client satisfaction. Our commitment to the clients' success is unwavering, and we are dedicated to delivering exceptional results.
                </p>
            </div>
        </div>
    </div>
    <div style="padding-left: 5%; padding-top: 2%;">
        <button id="collapsible">Read More</button>
    </div>
    <div>
        <Imagecard img1="/images/fort.jpg" img2="/images/lawncourt.jpg" />
    </div>
     <div style="padding-bottom: 13%;">
        <Imagecard img1="/images/law.jpg" img2="/images/highcourt.jpg" />
    </div>

</story>

<script>
var coll = document.getElementById("collapsible");

coll.addEventListener("click", function() {
    this.classList.toggle("active");
    var content = document.getElementById("toggleme");
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
});

</script>

<style>
    story {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .short-story {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 10%;
        justify-content: space-between;
    }

    .prefix {
        color: black;
        font-family: Arial;
        font-size: 20px;
    }

    .title {
        color: black;
        font-family: Arial;
        font-size: 35px;
        font-weight: bold;
    }

    .intro {
        color: black;
        font-family: Arial;
        font-size: 16px;
        
    }

    .hidden-text {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    button {
        background: #e09004d0;
        border-radius: 7%;
        color: #fff;
        font-size: 15px;
        text-align: center;
        padding: 10px 20px;
        font-weight: bold;
        border-style: solid;
        box-shadow: none;
        border: none;
    }

</style>