---
import Imagecard from './Imagecards.astro';
---

<story>
    <div class="short-story">
        <div>
            <p class="prefix">PREFIX FOR THE COMPANY'S ABOUT SECTION WILL BE HERE</p>
        </div>
        <div>
            <p class="title">Our Story And Commitment</p>
        </div>
        <div>
            <p class="intro">In this part, we will introduce you or your business to website visitors. We'll write about
                you, your organization, the products or services your offer and why company exits.
            </p>
        </div>
        <div class="content">
            <p class="hidden-text" id="toggleme">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div style="padding-left: 5%; padding-top: 2%;">
        <button id="collapsible">Read More</button>
    </div>
    <div>
        <Imagecard img1="/images/law.jpg" img2="/images/law.jpg" />
    </div>
     <div style="padding-bottom: 13%;">
        <Imagecard img1="/images/law.jpg" img2="/images/highcourt.jpg" />
    </div>

</story>

<script>
var coll = document.getElementById("collapsible");

coll.addEventListener("click", function() {
    this.classList.toggle("active");
    var content = document.getElementById("toggleme");
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
});

</script>

<style>
    story {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .short-story {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 10%;
        justify-content: space-between;
    }

    .prefix {
        color: black;
        font-family: Arial;
        font-size: 20px;
    }

    .title {
        color: black;
        font-family: Arial;
        font-size: 35px;
        font-weight: bold;
    }

    .intro {
        color: black;
        font-family: Arial;
        font-size: 16px;
        
    }

    .hidden-text {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    button {
        background: #e09004d0;
        border-radius: 7%;
        color: #fff;
        font-size: 15px;
        text-align: center;
        padding: 10px 20px;
        font-weight: bold;
        border-style: solid;
        box-shadow: none;
        border: none;
    }

</style>