---
import Member from "./Member.astro";
---

<!-- Ownership rights - Vighnesh Raje -->

<team>
    <div>
            <p class="title">Our Team</p>
    </div>
     <div class="members">
        <Member img="/images/person2.jpg" name="Adv. Shailendra Pendse" qualification="LL.B, LL.M" experties="Counsel" />
               
    </div>
    <div class="members">
        <Member img="/images/person2.jpg" name="Adv. Rakesh Kumar Bhagat" qualification="LL.B" experties="Counsel" /> 
        <Member img="/images/person1.jpg" name="Adv. R R Khosla" qualification="LL.B, LL.M" experties="Counsel" />
    </div>
    <div class="members">
        <Member img="/images/person2.jpg" name="Adv. C S Lamba" qualification="B.L.S, LL.B" experties="Civil Law" />
        <Member img="/images/person2.jpg" name="Adv. Ajinkya Mosamkar" qualification="Bsc. IT, LL.B" experties="Business Law" />
        
    </div>
    <div class="members">
        <Member img="/images/person1.jpg" name="Adv. Snehal Dubey" qualification="B.Com, LL.B" experties="Family Law" />
        <Member img="/images/person2.jpg" name="Adv. Mohd Samsheer Ali" qualification="BA, LL.B" experties="Criminal Law" />
    </div>
    <div class="members">
        <Member img="/images/person2.jpg" name="Adv. Jay Pandya" qualification="B.Com, LL.B" experties="Company Law" />
        <Member img="/images/person2.jpg" name="Abdul Rahim" qualification="B.Com" experties="Paralegal" />
        
    </div>
    <div class="members">
        <Member img="/images/person1.jpg" name="Nida Khan" qualification="B.Com" experties="Paralegal" />
        <Member img="/images/person2.jpg" name="Parth Pendse" qualification="B.L.S" experties="Paralegal" />
    </div>
    <div class="members">
        <Member img="/images/person2.jpg" name="Rahul Gangurde" qualification="B.L.S" experties="Paralegal" />
    </div>
</team>

<style>
    team {
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 10% 5%;

    }

    .members {
        /* padding: 5%;
        display: flex;
        flex-direction: ;
        justify-content: center;
        width: 100vw; 
        height: 100vh; 
        align-items: center; */
        padding: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .title {
       text-align: center; 
       font-family: Verdana; 
       color: #000000; 
       font-size: 40px; 
       font-weight: bold; 
    }
</style>